.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-areas:
    "c1 c1 c1 c2"
    "c3 c4 c5 c2";
  width: 700px;
}

.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;
}

.c3 {
  grid-area: c3;
}

.c4 {
  grid-area: c4;
}

.c5 {
  grid-area: c5;
}

.grid div {
  background: #6f818c;
  color: white;
  border: 2px solid white;
  padding: 30px;
  text-align: center;
}