.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 400px;
}

.grid div {
  background: #6f818c;
  color: white;
  border: 2px solid white;
  padding: 30px;
  text-align: center;
}