.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "c1 c1"
    "c2 c3"
    "c4 c4";
  width: 700px;
}

.c1 {
  grid-area: c1;
  background: #a36a10;
}

.c2 {
  grid-area: c2;
}

.c3 {
  grid-area: c3;
}

.c4 {
  grid-area: c4;
  background: #555;
}

.grid div {
  color: white;
  border: 2px solid white;
  padding: 30px;
  text-align: center;
}